*{
    margin: 0px;
    padding: 5px;
}

#welcome, #menu{
    display: inline-block;
    vertical-align: top;
    margin-top: -50px;
}

.navbar{
    background-color: rgba(0, 26, 172, 0.156);
}

#menu{
    width: 50%;
    position: relative;
}

@media only screen and (max-width: 480px)
{   
    #navBar{
        width: 250px;
    }
    #menu{
        margin: 30px 0;
        width: 260px;
    }
}

@media only screen and (min-width: 481px)
{   
    #navBar{
        width: 100%;
    }
    #menu{
        margin: 30px 0;
    }
}

@media only screen and (min-width: 985px)
{   
    #menu{
        width: 730px;
        margin-top: -40px;
    }
}